<div class="orders-container">
    <h2 class="orders-header">My Orders</h2>
  
    <div *ngFor="let order of orders" class="order-card">
      <div class="order-header">
        <h3>Order ID: {{ order.id }}</h3>
        <span class="order-status" [ngClass]="{'status-pending': order.status === 'Pending'}">{{ order.status }}</span>
        <span class="order-date">{{ order.createdAt | date:'medium' }}</span>
      </div>
      <p class="order-total">Total Price: ${{ order.totalPrice }}</p>
  
      <div class="order-items">
        <div *ngFor="let item of order.orderItems" class="order-item">
          <img [src]="item.productUrl" alt="{{ item.productName }}" class="product-image" />
          <div class="item-details">
            <h4>{{ item.productName }}</h4>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: ${{ item.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  