<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registration-form">
    <h2>Register</h2>
  
    <div class="form-group">
      <label for="username">Username</label>
      <input
        id="username"
        formControlName="username"
        type="text"
        class="form-control"
        placeholder="Enter your username"
      />
      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="error-message">
        <div *ngIf="username?.errors?.['required']">Username is required.</div>
        <div *ngIf="username?.errors?.['minlength']">Username must be at least 3 characters long.</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="Enter your email"
      />
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Enter your password"
      />
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
        <div *ngIf="password?.errors?.['required']">Password is required.</div>
        <div *ngIf="password?.errors?.['minlength']">Password must be at least 4 characters long.</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        id="confirmPassword"
        formControlName="confirmPassword"
        type="password"
        class="form-control"
        placeholder="Confirm your password"
      />
      <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="error-message">
        <div *ngIf="confirmPassword?.errors?.['required']">Confirm Password is required.</div>
        <div *ngIf="confirmPassword?.errors?.['mismatch']">Passwords do not match.</div>
      </div>
    </div>
  
    <button type="submit" class="submit-button" [disabled]="registerForm.invalid">Register</button>
    <div type="submit" (click)="loginUser()" class="click-text" >Existing User ? Login now </div>

  </form>
  